/* make room for the top fixed bar thing */
body {
  padding-top: 57px;  
}

#lurkr-top {
  background-color: #c0c0c0;
  border-bottom: 1px solid #808080;
}

#lurkr-left {
  border-right: 1px solid #808080;
}

.lurkr-content {
  /*
  this looks ugly
  border-bottom: 1px solid #c0c0c0;
  */
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin-bottom: 1.5rem !important;
}

.lurkr-timeStr {
  color: #808080;
  font-style: italic;
}

ul{
  list-style:none;
  padding:0;
}


.tumblr-post {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;

  /*Center tumblr-posts. Doesnt look that good
  margin: auto;
  display: block;
  */
}

.footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}