/* make room for the top fixed bar thing */
body {
  padding-top: 57px;  
}

#lurkr-top {
  background-color: #c0c0c0;
  border-bottom: 1px solid #808080;
}

#lurkr-left {
  border-right: 1px solid #808080;
  padding: 1em;
}

#lurkr-main {
  padding: 1em;
}

.lurkr-content {
  /*
  this looks ugly
  border-bottom: 1px solid #c0c0c0;
  */
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #f8f8f8;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin-bottom: 1.5rem !important;
}

.lurkr-timeStr {
  color: #808080;
  font-style: italic;
  margin: 0;
}

ul{
  list-style:none;
  padding:0;
}


.tumblr-post {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;

  /*Center tumblr-posts. Doesnt look that good
  margin: auto;
  display: block;
  */
}

.tumblr-post img {
  margin-bottom: 1em;
  border: 1px solid black;
}

.content-main {
  padding: 0.75rem 1.25rem;
}

.content-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.lurkr-content p {
  margin-bottom: 0;
}

#accountUrl, #platform {
  width: 100%;
  height: 2em;
  margin-bottom: 0.5em;
}

#subscriptionsList ul li:hover {
  background-color: #f8f8f8;
}

#subscriptionsList a, #subscriptionsList a:hover {
  color: #000000;
}

.lurkr-sub-list-group-title a, .lurkr-sub-list-group-title a:hover {
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: none;
}

